.float{
	position:fixed;
	width:90px;
	height:90px;
	bottom:40px;
	right:40px;
	background-color:#00284d;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:60px;
	box-shadow: 2px 2px 3px rgb(250, 250, 250);
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #00284d;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}